.Content {
  padding: 1rem;
}

#heading {
  color: var(--secondary-color);
  font-size: 4rem;
  text-transform: uppercase;
  margin: 1rem;
}

#input-box-el-name-num {
  display: flex;
  justify-content: space-between;
}

#input-box > input {
  display: block;
}

#atomic-number-input-field {
  padding: 1rem;
  font-size: 1.4rem;
  width: 4rem;
}

.alert {
  color: #e84545;
  margin: 0;
  font-size: 1rem;
}

#el-name-num {
  display: flex;
  margin-right: 1rem;
}

#el-atomic-num {
  align-self: flex-end;
  margin: 0;
  font-size: 2rem;
}

#el-symbol {
  margin: 0;
  font-size: 4rem;
  color: black;
}

#el-atomic-mass {
  margin: 0;
  font-size: 2rem;
  color: black;
}

#el-properties {
  text-align: center;
  text-transform: uppercase;
  color: var(--secondary-color);
  text-decoration: underline;
}
